<a href="https://colab.research.google.com/github/harshithareddy16/crt-/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#largest of 3 numbers
a=int(input("enter value of a"))
b=int(input("enter value of b"))
c=int(input("enter value of c"))
if a>b and a>c:
  print(a,"is greater")
elif b>a and b>c:
  print(b,"is greater")
else:
  print(c ,"is greater")

enter value of a4
enter value of b6
enter value of c8
8 is greater

#while statements:
###Syntax:
####while Boolean_condition:<br>
           statements<br>
           increment/decrement <br>

In [0]:
x=0
while x>5:
  print("gitam")
  x=x+1

In [0]:
x=0
while x<5:
  print("gitam")
  x=x+1

gitam
gitam
gitam
gitam
gitam

In [0]:
#print n natural numbers using while loop
# input:10
#output:1 2 3 4 5 6 7 8 9 10
n=int(input("enter a number"))
i=1
while i<=n:
  print(i,end=" ")
  i=i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [0]:
#add only even numbers 1 to n
# input:10
# output:30 (2+4+6+8+10)
n=int(input("enter a number"))
i=1
sum=0
while i<=n:
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum,end= " ")

enter a number10
30

In [0]:
#input i=123
#output=321
n=int(input("enter anumber"))
while n!=0:
    r=n%10
    print(r,end="")
    n=n//10

enter anumber123
321

#Functional Programming
- simple
- easy read
- lengthy program divides into sub programs

#SYNTAX

In [0]:
#SYNTAX
def nameofthefunction(<parameters>):
    statements
    return

In [0]:
#input:1234
#output:6(2+4)
def addevendigit(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
      sum=sum+r
    n=n//10
  return sum
addevendigit(1234)

6

In [0]:
#read input
# input:19528
#output:9
def findlarge(n):
  large=0
  while n!=0:
    r=n%10
    if r>large:
      large=r
    n=n//10
  return large
findlarge(19528)

9

In [0]:
#input:123
#output:321
def rev(n):
  while n!=0:
    r=n%10
    print(r,end="")  
    n=n//10
    
rev(123)

321

In [0]:
#input:123
#output:321
def rev(n):
    rev=0
    buffer=n
    while n!=0:
      r=n%10
      rev=rev*10+r
      n=n//10
    if buffer==rev:
      return "yes" 
    else:
      return "no" 
print(rev(121))

yes

In [0]:
#function to print n natural numbers
def natural(n):
    for i in range(1,n+1):
      print(i,end="  ")
natural(10)

1  2  3  4  5  6  7  8  9  10

In [0]:
#natural(11,15)
#output:11,12,13,14,15
def natural(l,m):
  for i in range(l,m+1):
    print(i,end="  ")
natural(11,15)

11  12  13  14  15

In [0]:
#natural(1,10)
#output:1,4,7,10
def natural(l,m):
  for i in range(l,m+1,3):
    print(i,end="  ")
natural(1,10)

1  4  7  10

In [0]:
#using function
# input:1,10
def reverserange(start,end):
  for i in range(end,start-1,-1):
    print(i,end="  ")
reverserange(1,10)

10  9  8  7  6  5  4  3  2  1

#DATA STRUCTURES TYPES:
- LIST
- TUPLE
- DICTIONARY

#List:
- its one common data structure in python,the items are separeted by comma and enclosed by []
- crud operations
* c - create
* r - read
* u - update
* d - delete
- list can be changed or mutable
## example:
- List=[1,2,3,4]

In [0]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[-1])

[1, 2, 3, 4, 5]
1
5

In [0]:
name = "snow strom"
name[5]='x'
print(name)

TypeError: ignored

In [0]:
if false:
  print("nissan")
elif true:
  print("ford")