<a href="https://colab.research.google.com/github/harshithareddy16/crt-/blob/master/28_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str="pythno"
li=list(str)
print(li)

['p', 'y', 't', 'h', 'n', 'o']

In [6]:
def input(str):
  str1= str[0:len(str):2]
  li=list(str1)
  return li
input("pynativa")

['p', 'n', 't', 'v']

In [10]:
def input(li):
  if li[0]==li[-1]:
    return True
  else:
    return False
li=[1,2,3,4,1]    
print(input(li))

True

In [12]:
i=1
n=5
for i in range(1,6):
  for j in range(0,i):
    print(i,end=" ")
  print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
def input(str,n,y):
  x=100-n
  z=x+y
  print(str)
  print(n)
  print(y)
  print(z)
input("harshitha",19,2019)

harshitha
19
2019
2100